.item_table {
    height: 75px;
    width: 200px;
    overflow: auto;
}

/*btn css*/
.smallBtn {
    width: 120px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 5px gray;
}

.bigBtn {
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 5px gray;
}

/*? 얘는 어디 버튼*/
.tinybar {
    width: 100px;
}

.tinyBtn {
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 5px gray;
}

@font-face {
    font-family: 'NanumSquare_acR';
    src: url(../../resource/font/NanumSquare_acR.ttf);
}


@font-face {
    font-family: 'NanumSquare_acB';
    src: url(../../resource/font/NanumSquare_acB.ttf);
}
