html, body{
    width: 100%;
    height: 100%;
}

a:link{
    color: #424242;
    text-decoration: none;
}
a:visited{
    color: #424242;
    text-decoration: none;
}
a:hover{
    color: #86B404;
    font-size: larger;
    text-decoration: none;
}
.colorDiv{
    background-color: #C4E6CE;
    width: 100%;
    height: 90vh;
}

.btnImage {
    font-family: NanumSquare_acR;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.titleText {
    font-family: NanumSquare_acR;
    font-size: 28px;
    margin-left: 30px;
    margin-top: 10px;
}

.btnImage_put_top {
    font-family: NanumSquare_acR;
    width: 350px;
    height: 60vh;
    border-radius: 30px 30px 0px 0px;
    opacity: 0.9;
}

.btnImage_put_buttom {
    font-family: NanumSquare_acR;
    width: 350px;
    height: 50px;
    background-color: white;
    margin-left: 30px;
    margin-top: 33vh;
    border-radius: 0px 0px 30px 30px;
    padding: 10px;
}

.detail_btn {
    font-family: NanumSquare_acR;
    width: 150vh;
    height: 50px;
    background-color: white;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;

}

.btnbasic {
    font-family: NanumSquare_acR;
    width: 200px;
    height: 200px;
    border: 0.5px solid gray;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    align-items: left;
}

.underFont {
    font-family: NanumSquare_acR;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 30px;
}

.imagetitle {
    font-family: NanumSquare_acR;
    text-align: center;
}

.plusText {
    font-family: NanumSquare_acR;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 20px;
}

.underText2 {
    font-family: NanumSquare_acR;
    font-size: 20px;
    margin-top: 60px;
}

.alignMargin {
    font-family: NanumSquare_acR;
    margin-top: 12%;
    align-items: center;
}


.EditorBtn {
    font-family: NanumSquare_acR;
    width: 200px;
    height: 200px;
    background-color: #8FBC8F;
    border-radius: 40px;
    font-size: 18px;
    float:none;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    box-shadow: 3px 3px 5px #DCDCDC;
    
}

.selectBox {
    font-family: NanumSquare_acR;
    width: 600px;
    height: 400px;
    border: 3px solid #8FBC8F;
    border-radius: 30px;
    float:none;
    margin: 0 auto;
    margin-top: 10%;
}

.alignBoxText {
    font-family: NanumSquare_acR;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    font-family: NanumSquare_acR;
}

.KakaoLoginBtn {
    padding: 0;
    width: 180px;
    height: 45px;
    line-height: 44px;
    color: #783c00;
    background-color: #ffeb00;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 30px;
}

.buttonMargin {
    margin-right: 5px;
    height: 35px;
    font-size: 18px;
}

input[type=radio] { 
    appearance: none; 
} 

.fileName_font {
    color: #585858;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.EditorNav {
    height: 8%;
    font-family: "NanumSquare_acR";
    background-color: #F8F9FA;
    box-shadow: 5px 0.5px 10px 5px rgb(238, 238, 238);
}

.marginTop {
    margin-left: -80px;
    padding: 10px;
}

.Sidebar {
    width: 450px;
    background-color: #F8F9FA;
    margin-left: -10px;
}

.nav-menu-items {
    width:100%;
  }
  .navbar-toggle {
    background-color: #F8F9FA;
    box-shadow: -2px 1px 5px #DCDCDC;
    width:100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  span {
    font-family: "NanumSquare_acR";
    margin-left:16px;
    color: #585858;
  }
  .navbar{
    background-color: #F8F9FA;
    height: 80px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .menu-bars{
    font-size: 2rem;
    background:none;
  }
  .nav-menu {
    background-color: #F8F9FA;
    width: 500px;
    margin-top: 8vh;
    height: 100%;
    display:flex;
    position:fixed;
    top:0;
    left:-67vh;
    transition: 850ms;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    margin-left: -5vh;
  }
  .nav-text{
    color: #424242;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style:none;
    height: 60px;
    margin-left: 30px;
  }
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    
    border-radius: 4px;
  }
  .nav-text a:hover{
    background-color: #A8BA8D;
    color: white;
  }

  .toggleBtn {
    width: 50px;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 2px;
    margin-top: 200px;
    background-color: #A8BA8D;
    align-content: center;
  }

  /*category*/
  .category-list {
    justify-content: center;
    font-family: 'NanumSquare_acR';
    width: 130px;
    height: 100%;
    margin-left: 2px;
    padding: 0px 25px;
    font-size: 12px;
    text-align: center;
  }
  .category-select {
    background-color: #A8BA8D;
    width:100%;
    height: 115px;
    display: flex;
    align-items: center;
    padding: 9px;
  }
  .category-select-btns {
    margin: 3px;
    border-radius: 5px;
    background-color: white;
    border-width: 0px;
    font-size: 14px;
    height: 45px;
    text-align: center;
    opacity: 90%;
    background-color: #818F6C;
    color: white;
  }

  /*스크롤 기능*/
  .scroll {
    width: 100%;
    height: 500px;
    overflow: scroll;
    -ms-overflow-style: none;
  }

  .scroll::-webkit-scrollbar {
      display: none;
  }

  .search-bar {
      width: 90%;
      height: 50px;
      margin: 25px;
  }

  /*list view*/
  .List {
    font-family: 'NanumSquare_acR';
    color: #424242;
    text-align: center;
    font-size: 16px;
  }

  .List-top {
    background-color: #818F6C;
    width: 180px;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    margin: -7px 10px 10px -13px;
  }
  .List-bottom {
    padding: 5px;
    background-color: #E9ECEF;
    width: 180px;
    height: 5vh;
    border-radius: 0px 0px 10px 10px;
    margin: -10px 10px 10px -13px;
}

.List-top > input[type=radio]{
    width: 30px;
    height: 30px;
    
}

.radioTrue {
    margin-left: 125px;
    margin-top: 5px;
}

.select-list-btn{
    width: 180px;
    height: 25vh;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 30px;
    border-radius: 10px;
}

.Editor-fix {
    justify-content: flex-end;
    margin-left: 70vh
}

.invisible {
    display: none;
}

.HomeEditor {
    width: 100%;
    height: 100%;
}

/*슬라이드바 (input range bar) css*/
input[type=range] {
    -webkit-appearance: none; 
    overflow: hidden;
    width: 100%; 
    height: 10px;
    background: transparent; 
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 0; /* iOS */
    border-radius: 5px;
  }

  input[type=range]:focus {
    outline: none; 
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #198754;
    border: 0.1px solid #5e6964;
    cursor: pointer;
  }

/*font 모음*/
@font-face {
    font-family: 'NanumSquare_acB';
    src: url(../resource/font/NanumSquare_acB.ttf);
}

@font-face {
    font-family: 'NanumSquare_acEB';
    src: url(../resource/font/NanumSquare_acEB.ttf);
}

@font-face {
    font-family: 'NanumSquare_acR';
    src: url(../resource/font/NanumSquare_acR.ttf);
}

@font-face {
    font-family: 'NanumSquareB';
    src: url(../resource/font/NanumSquareB.ttf);
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(../resource/font/NanumSquareRoundB.ttf);
}

@font-face {
    font-family: 'NanumSquareR';
    src: url(../resource/font/NanumSquareR.ttf);
}

