.contextmenu {
    width: 120px;
    height: 30px;
    text-align: center;
    display: flex;
    position: absolute;
    background-color: none;
}

.contextmenu-button {
    text-align: center;
    align-items: center;
    font-family: NanumSquare_acR;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #198754;
    border-left: 0.8px solid rgb(238, 238, 238, 0.7);
    padding: 5px;
}

.contextmenu-button-left {
    text-align: center;
    align-items: center;
    font-family: NanumSquare_acR;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #198754;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
}

.contextmenu-button-right {
    text-align: center;
    align-items: center;
    font-family: NanumSquare_acR;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #198754;
    border-radius: 0px 5px 5px 0px;
    border-left: 0.8px solid rgb(238, 238, 238, 0.7);
    padding: 5px;
}

.contextmenu-button:hover {
    background-color: gray;
}
